@charset "utf-8";
@import "../../utils/global.scss";
@import "../../../node_modules/bulma/sass/components/dropdown.sass";
:host {
  display: block;
}
.live-video-container {
  .live-video-controls-container {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

